<div class="wrapper">
  <div class="about">
    <h1>Sobre nosotros</h1>

    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium
      rerum aliquam, placeat molestiae quaerat, at minus temporibus quasi, illo
      repellendus dicta ipsa nemo est? Eius nobis voluptatem quod error
      eligendi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
      at, nam eos ipsam ipsa aperiam? Iste, placeat? Quaerat modi omnis
      molestiae corporis perferendis, dolorem repellendus enim suscipit est,
      quibusdam quis! Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Neque, cum sed? Minima consequatur ipsa aperiam perspiciatis ea atque
      velit ratione et obcaecati cum, tempora dolorum nihil fugiat officia eum
      quibusdam.
    </p>
  </div>
  <div class="matcards">
    <mat-card class="desc">
      <mat-card-header>
        <mat-icon svgIcon="minilop"></mat-icon>
        <mat-card-title>Mini Lop</mat-card-title>
      </mat-card-header>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTafy_2L7FDVUC2ZLUfNFedi9Wp734YWGMHinPhww7UXnrxxRWN"
        alt=""
      />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora labore
        facere consequuntur voluptatibus! Blanditiis minus quo enim, maiores in
        illo quas? Neque, fugiat laudantium! Beatae ex quis ipsa illum ratione!
      </p>
    </mat-card>
    <mat-card class="desc">
      <mat-card-header>
        <mat-icon svgIcon="rat"></mat-icon>
        <mat-card-title>Rata Dumbo</mat-card-title>
      </mat-card-header>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis at
        eligendi tempore quas nostrum dolorem consequuntur architecto porro. In
        explicabo nesciunt excepturi minima facere velit tempore fugiat dolorum
        molestiae tenetur.
      </p>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTafy_2L7FDVUC2ZLUfNFedi9Wp734YWGMHinPhww7UXnrxxRWN"
        alt=""
      />
    </mat-card>
  </div>
</div>
