.wrapper {
  padding-left: 10vw;
  padding-right: 10vw;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about h1 {
  margin-top: 10%;
  font-size: 6vw;
}
.about p {
  font-size: 3vw;
}
.matcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.desc {
  width: 30vw;
  margin-left: 0 !important;
  margin-right: 0 !important;
  display: flex;
  background-color: whitesmoke;
  margin: 10px;
  flex-direction: column;
}
.desc img {
  max-width: 60vw;
  max-height: 50vh;
  border: 2px solid white;
}

.desc p {
  margin-top: 0;
  padding: 1em;
}

.about:last-child {
  background: red;
  outline: 1px solid red !important;
}

@media only screen and (max-width: 768px) {
  .about h1 {
    font-size: 5vh;
  }
  .about p {
    font-size: 3vh;
  }
  .matcards {
    flex-direction: column;
    justify-content: center;
  }
  .desc {
    width: 90%;
    flex-direction: column;
  }
  .desc img {
    max-width: 70vw;
    order: 1;
  }
}
